*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
    margin-bottom: 0.5rem;
}


form{
    margin: 2rem 0 1rem 0;
}

form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font: 1em sans-serif;
    height: 3rem;
    padding-left: 1rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-conatiner img{
    max-width: 1.8rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid lightgray;
}

.select-conatiner select{
    font-size: 1.5rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    font : bold;
}

form button{
    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}